doctype html
html(ng-app='app' lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Angular Starter Kit
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./styles/vendor.css')
    link(rel='stylesheet' href='./styles/main.css')
    base(href='/')
  body
    main
      app Loading...
    script.
      !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-XXXXXXXX-X', 'auto');
       ga('send', 'pageview');
    script(src='./scripts/vendor.js')
    script(src='https://npmcdn.com/@angular/router@0.2.0/angular1/angular_1_router.js')
    script(src='./scripts/main.js')
